/* CSS Document */

main .row {
	margin-bottom: 20px;
}

.header {
	background-color: #E8BE48;
}

.page_title {
	width: 1000px;
	padding:5px 5px;
	margin:0 auto;
}

/* How do I decrease line height between .page_title h1 and h4*/
.page_title h1 {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.page_title h1, h4 {
	padding: 0;
	margin: 0;
}
/* Could I add padding here an have the text within the div somehow ignore the padding?*/
.character_card {
	border: solid lightgray 1px;
	margin: 20px 0;
}

.character_card img {
	width: 100%;
}

.character_card h4, h2 {
	margin: 10px 10px;
}
